<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>
  <body>
    <div class="container-hbs">
      <h1>Product List</h1>
      <%- include("../main"); %>
    </div>
  </body>
</html>
