.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

label{
  display: flex;
  flex-direction: column;
}