.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

label {
  display: flex;
  flex-direction: column;
}

/* HANDLEBARS STYLES*/
.container-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}


.tabla-table img {
  height: 35px;
}